.contact-us-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  border-radius: 12px;

  .contact-us-heading {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
  }

  .team-members {
    &__heading {
      font-size: 28px;
      margin-bottom: 20px;
      color: #333;
    }

    .member {
      margin-bottom: 30px;
      padding: 20px;
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      transition: transform 0.3s;

      &:hover {
        transform: translateY(-5px);
      }

      &__heading {
        font-size: 24px;
        margin-bottom: 10px;
        color: #333;
      }

      &__email {
        display: flex;
        align-items: center;
        cursor: pointer;

        &__icon {
          margin-right: 10px;
        }

        &__link {
          font-size: 16px;
          color: #3498db;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &__expertise {
        font-size: 14px;
        margin-top: 10px;
        color: #555;
      }

      &__description {
        font-size: 18px;
        margin-top: 15px;
        color: #666;
      }
    }
  }

  .contact-email {
    &__heading {
      font-size: 28px;
      margin-bottom: 20px;
      color: #333;
    }

    &__container {
      display: flex;
      align-items: center;
      cursor: pointer;

      &__icon {
        margin-right: 10px;
      }

      &__content {
        font-size: 18px;
        color: #333;
      }
    }
  }

  .team-objective {
    &__heading {
      font-size: 28px;
      margin-bottom: 20px;
      color: #333;
    }

    &__content {
      font-size: 18px;
      color: #333;
    }
  }

  .social-media {
    &__heading {
      font-size: 24px;
      margin-bottom: 20px;
      color: #333;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        font-size: 18px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: #3498db;
        }

        .github-icon,
        .twitter-icon,
        .linkedin-icon,
        .facebook-icon,
        .instagram-icon {
          margin-right: 10px;
        }
      }
    }
  }
}
