.applicant-dashboard {
  @include flex-container(column, nowrap, center, center);
  background: linear-gradient(to bottom right, #e6f7ff, #ccf2ff);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 16px 32px 16px var(--black-shadow-light),
    -8px -8px 16px var(--white-shadow-0);
  position: relative;
  .profile-image-container {
    margin: 0 0 2% 0;
    .profile-image {
      position: relative;
      border-radius: 50%;
      height: 200px;
      width: 200px;
      box-shadow: 0px 8px 20px -5px var(--black-shadow-medium);
      transition: all 0.5s ease-in-out;
      border: var(--blue-1) solid 2px;
      &:hover {
        box-shadow: 0 4px 12px var(--black-shadow-light);
        transform: translateY(-2px);
      }
    }
  }
  h1 {
    font-family: var(--font-blackpast);
    font-size: var(--font-7);
    letter-spacing: 2px;
    color: var(--black);
    font-weight: 600;
    margin: 0 0 2% 0;
    text-align: center;
    z-index: 10;
  }
  .profile-fields {
    width: 100%;
    .field-personal-info,
    .field-academic-info,
    .field-family-info,
    .field-course-info {
      margin: 0 0 5% 0;
      padding: 30px;
      border-radius: 10px;
      background: linear-gradient(to bottom right, #ffffff, #f2f2f2);
      box-shadow: 8px 8px 16px var(--black-shadow-light),
        -8px -8px 16px var(--white-shadow-0);
      transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;

      &:hover {
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
          -10px -10px 20px rgba(255, 255, 255, 0.9);
        transform: translateY(-5px);
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        box-shadow: 0 0 20px var(--black-shadow-light);
        z-index: -1;
        transition: box-shadow 0.3s ease-in-out;
      }

      &::before {
        top: 10px;
        left: 10px;
      }

      &::after {
        bottom: 10px;
        right: 10px;
      }
      h3 {
        font-family: var(--font-oswald);
        font-size: var(--font-7);
        letter-spacing: 4px;
        color: var(--black);
        font-weight: 400;
        margin: 0 0 2% 0;
        text-align: center;
      }
      div {
        h3 {
          font-family: var(--font-elianto);
          font-size: var(--font-9);
          letter-spacing: 2px;
          color: var(--black);
          font-weight: 600;
          margin: 0 0 2% 0;
          text-align: center;
        }
        p {
          @include flex-container(row, nowrap, flex-start, center);
          gap: 10px;
          margin: 0 0 2% 0;
          box-shadow: inset 6px 6px 12px var(--black-shadow-light),
            inset -6px -6px 12px var(--white-shadow-0);
          padding: 15px;
          border-radius: 12px;
          transition: all 1s ease-in-out;
          letter-spacing: 2px;
          font-size: var(--font-12);
          &:hover {
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
              -10px -10px 20px rgba(255, 255, 255, 0.9);
            color: #333;
          }
          img {
            position: relative;
            height: 30px;
            width: 30px;
          }
          strong {
            font-weight: 600;
            font-family: var(--font-elianto);
            font-size: var(--font-12);
            letter-spacing: 1px;
            color: var(--black);
          }
        }
      }
      p {
        @include flex-container(row, nowrap, flex-start, center);
        gap: 10px;
        margin: 0 0 2% 0;
        box-shadow: inset 6px 6px 12px var(--black-shadow-light),
          inset -6px -6px 12px var(--white-shadow-0);
        padding: 15px;
        border-radius: 12px;
        transition: all 1s ease-in-out;
        letter-spacing: 2px;
        font-size: var(--font-12);
        &:hover {
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
            -10px -10px 20px rgba(255, 255, 255, 0.9);
          color: #333;
        }
        img {
          position: relative;
          height: 30px;
          width: 30px;
        }
        strong {
          font-weight: 600;
          font-family: var(--font-elianto);
          font-size: var(--font-12);
          letter-spacing: 1px;
          color: var(--black);
        }
      }
      a {
        @include flex-container(row, nowrap, flex-start, center);
        gap: 10px;
        margin: 0 0 2% 0;
        box-shadow: inset 6px 6px 12px var(--black-shadow-light),
          inset -6px -6px 12px var(--white-shadow-0);
        padding: 15px;
        border-radius: 12px;
        transition: all 1s ease-in-out;
        letter-spacing: 2px;
        font-size: var(--font-12);
        &:hover {
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
            -10px -10px 20px rgba(255, 255, 255, 0.9);
          color: #333;
        }
        img {
          position: relative;
          height: 30px;
          width: 30px;
        }
        strong {
          font-weight: 600;
          font-family: var(--font-elianto);
          font-size: var(--font-12);
          letter-spacing: 1px;
          color: var(--black);
        }
      }
      .heading-academic-info-secondary,
      .heading-academic-info-higher-secondary,
      .heading-family-info-father,
      .heading-family-info-mother,
      .heading-family-info-guardian,
      .heading-family-info-guardian-office-address {
        margin-top: 30px;
      }

      .field-academic-info-secondary-marks,
      .field-academic-info-higher-secondary-marks {
        list-style: none;
        padding: 0;

        li {
          margin: 10px 0;
        }
      }

      .field-family-info-father-contact,
      .field-family-info-mother-contact,
      .field-family-info-guardian-contact,
      .field-family-info-guardian-office-contact {
        p {
          box-shadow: inset 6px 6px 12px var(--black-shadow-light),
            inset -6px -6px 12px var(--white-shadow-0);
          padding: 15px;
          border-radius: 12px;
          transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;

          &:hover {
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
              -10px -10px 20px rgba(255, 255, 255, 0.9);
            color: #333;
          }
        }
      }
    }

    .field-user-id,
    .field-createdat,
    .field-updatedat {
      margin-top: 30px;
      p {
        color: #777;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: #555;
        }
      }
    }
  }
}
