.applicant-dashboard {
  @include flex-container(column, nowrap, center, center);
  background: linear-gradient(to bottom right, #e6f7ff, #ccf2ff);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 16px 32px 16px var(--black-shadow-light),
    -8px -8px 16px var(--white-shadow-0);
  position: relative;
  .profile-image-container {
    margin: 0 0 2% 0;
    .profile-image {
      position: relative;
      border-radius: 50%;
      height: 200px;
      width: 200px;
      box-shadow: 8px 8px 16px var(--black-shadow-light),
        -8px -8px 16px var(--white-shadow-0);
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  h1 {
    font-family: var(--font-blackpast);
    font-size: var(--font-7);
    letter-spacing: 2px;
    color: var(--black);
    font-weight: 600;
    margin: 0 0 2% 0;
    text-align: center;
    z-index: 10;
  }
  .profile-fields {
    width: 100%;

    .field-personal-info,
    .field-academic-info,
    .field-family-info,
    .field-course-info {
      margin-bottom: 30px;
      padding: 30px;
      border-radius: 16px;
      background: linear-gradient(to bottom right, #ffffff, #f2f2f2);
      box-shadow: 8px 8px 16px var(--black-shadow-light),
        -8px -8px 16px var(--white-shadow-0);
      transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;

      &:hover {
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
          -10px -10px 20px rgba(255, 255, 255, 0.9);
        transform: translateY(-5px);
      }

      h3 {
        font-size: 1.2em;
        color: #3498db;
        margin-bottom: 15px;
        text-shadow: 2px 2px 4px var(--black-shadow-light);
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        box-shadow: 0 0 20px var(--black-shadow-light);
        z-index: -1;
        transition: box-shadow 0.3s ease-in-out;
      }

      &::before {
        top: 10px;
        left: 10px;
      }

      &::after {
        bottom: 10px;
        right: 10px;
      }

      .heading-academic-info-secondary,
      .heading-academic-info-higher-secondary,
      .heading-family-info-father,
      .heading-family-info-mother,
      .heading-family-info-guardian,
      .heading-family-info-guardian-office-address {
        margin-top: 30px;
      }

      .field-academic-info-secondary-marks,
      .field-academic-info-higher-secondary-marks {
        list-style: none;
        padding: 0;

        li {
          margin: 10px 0;
        }
      }

      p {
        margin: 15px 0;
        color: #555;
        box-shadow: inset 6px 6px 12px var(--black-shadow-light),
          inset -6px -6px 12px var(--white-shadow-0);
        padding: 15px;
        border-radius: 12px;
        transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;

        &:hover {
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
            -10px -10px 20px rgba(255, 255, 255, 0.9);
          color: #333;
        }
      }

      .field-family-info-father-contact,
      .field-family-info-mother-contact,
      .field-family-info-guardian-contact,
      .field-family-info-guardian-office-contact {
        p {
          box-shadow: inset 6px 6px 12px var(--black-shadow-light),
            inset -6px -6px 12px var(--white-shadow-0);
          padding: 15px;
          border-radius: 12px;
          transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;

          &:hover {
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
              -10px -10px 20px rgba(255, 255, 255, 0.9);
            color: #333;
          }
        }
      }
    }

    .field-user-id,
    .field-createdat,
    .field-updatedat {
      margin-top: 30px;
      p {
        color: #777;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: #555;
        }
      }
    }
  }
}
