.applicant-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1),
    -8px -8px 16px rgba(255, 255, 255, 0.8);

  .profile-image-container {
    margin-bottom: 30px;
    .profile-image {
      border-radius: 50%;
      box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1),
        -8px -8px 16px rgba(255, 255, 255, 0.8);
    }
  }

  .profile-fields {
    width: 100%;

    .field-personal-info,
    .field-academic-info,
    .field-family-info,
    .field-course-info {
      margin-bottom: 30px;
      padding: 30px;
      border-radius: 16px;
      background-color: #ffffff;
      box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1),
        -8px -8px 16px rgba(255, 255, 255, 0.8);

      h3 {
        font-size: 1.8em;
        color: #333333;
        margin-bottom: 15px;
      }

      .heading-academic-info-secondary,
      .heading-academic-info-higher-secondary,
      .heading-family-info-father,
      .heading-family-info-mother,
      .heading-family-info-guardian,
      .heading-family-info-guardian-office-address {
        margin-top: 30px;
      }

      .field-academic-info-secondary-marks,
      .field-academic-info-higher-secondary-marks {
        list-style: none;
        padding: 0;

        li {
          margin: 10px 0;
        }
      }

      p {
        margin: 15px 0;
        color: #555;
        box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.1),
          inset -6px -6px 12px rgba(255, 255, 255, 0.8);
        padding: 15px;
        border-radius: 12px;
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
          box-shadow: inset 8px 8px 16px rgba(0, 0, 0, 0.1),
            inset -8px -8px 16px rgba(255, 255, 255, 0.8);
        }
      }

      .field-family-info-father-contact,
      .field-family-info-mother-contact,
      .field-family-info-guardian-contact,
      .field-family-info-guardian-office-contact {
        p {
          box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.1),
            inset -6px -6px 12px rgba(255, 255, 255, 0.8);
          padding: 15px;
          border-radius: 12px;
          transition: box-shadow 0.3s ease-in-out;

          &:hover {
            box-shadow: inset 8px 8px 16px rgba(0, 0, 0, 0.1),
              inset -8px -8px 16px rgba(255, 255, 255, 0.8);
          }
        }
      }
    }

    .field-user-id,
    .field-createdat,
    .field-updatedat {
      margin-top: 30px;
      p {
        color: #777;
      }
    }
  }
}
