.applicant-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;

  .profile-image-container {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;

    .profile-image {
      width: 300px;
      height: 200px;
      object-fit: cover;
    }
  }

  .profile-fields {
    width: 100%;
    max-width: 800px;

    .field-personal-info,
    .field-academic-info,
    .field-family-info,
    .field-course-info {
      margin-bottom: 30px;

      h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
      }

      p {
        margin: 5px 0;
      }

      strong {
        margin-right: 5px;
      }

      img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }

      ul.field-academic-info-secondary-marks,
      ul.field-academic-info-higher-secondary-marks {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          margin: 5px 0;
        }
      }
    }

    .field-academic-info-secondary-marks,
    .field-academic-info-higher-secondary-marks {
      padding-left: 20px;
    }
  }

  .field-family-info,
  .field-course-info {
    display: flex;
    flex-direction: column;

    .field-family-info-father,
    .field-family-info-mother,
    .field-family-info-guardian {
      margin-bottom: 20px;

      h3 {
        font-size: 1.2em;
        margin-bottom: 10px;
      }

      .field-family-info-father-contact,
      .field-family-info-mother-contact,
      .field-family-info-guardian-contact,
      .field-family-info-guardian-office-contact {
        margin-top: 10px;
      }
    }
  }

  .field-createdat,
  .field-updatedat {
    font-weight: bold;
    margin-top: 20px;
  }

  .field-user-id {
    margin-top: 20px;
  }
}
