.form {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 5rem;

  label {
    font-weight: bold;
    display: flex;
    margin-bottom: 0.3rem;
  }
  input[type="radio"] {
    margin-right: 0.3rem;
  }
  
  // input + label {
  //   font-weight: bold;
  //   display: inline-flex;
  //   margin-right: 20px;
  // }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="date"],
  textarea,
  select {
    display: block;
    width: calc(100% - 2.5rem);
    padding: 0.3rem 0.75rem;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-bottom: 1.25rem;
  }

  @media (max-width: $breakpoint-desktop-wide) {
  }
  @media (max-width: $breakpoint-desktop) {
  }
  @media (max-width: $breakpoint-large-tablet) {
    padding: 2rem 2.5rem;
  }
  @media (max-width: $breakpoint-tablet) {
    padding: 2rem 1.5rem;
  }
  @media (max-width: $breakpoint-phone) {
  }

  &--heading {
    font-family: var(--font-roboto);
    font-size: var(--font-7);
    font-weight: bold;
    text-align: center;
    z-index: 10;
    padding: 0 0 2rem;

    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
    }
  }
  &--content {
    height: fit-content;
    border-radius: 10px;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    width: 1100px;
    padding: 0 2rem;

    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
      width: 100%;
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
    }

    .page{
      &--title {
        font-family: var(--font-roboto);
        font-size: var(--font-9);
        text-align: center;
        padding: 1.5rem 0;
      }
      &--content{
        .sub-heading {
          font-weight: bold;
          font-size: 1.2rem;
          padding: 1rem 0.5rem;
        }
        .sub-sub-heading {
          font-weight: bold;
          font-size: 1rem;
          padding: 0.8rem 0.5rem;
        }
  
        .grid-col-3 {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;

          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
            grid-template-columns: 1fr;
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
        }
    
        .grid-col-2 {
          display: grid;
          grid-template-columns: 1fr 1fr;

          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
            grid-template-columns: 1fr;
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
        }
        
        .btns {
          display: flex;
          justify-content: center;
          .btn {
            margin: 1rem 1rem 2rem 1rem;
            border: 1px white solid;
            font-size: 1.2rem;
            background: hsl(235, 17%, 26%);
            color: #fff;
            padding: 1rem 2rem;
            border-radius: 0.5rem;
            transition: all 0.2s ease-in-out;
            cursor: pointer;

            @media (max-width: $breakpoint-desktop-wide) {
            }
            @media (max-width: $breakpoint-desktop) {
            }
            @media (max-width: $breakpoint-large-tablet) {
              // margin: ;
              padding: 0.75rem 1.5rem;
            }
            @media (max-width: $breakpoint-tablet) {
              padding: 0.5rem 1rem;
            }
            @media (max-width: $breakpoint-phone) {
            }

            &:hover {
              transform: scale(1.05);
              color: black;
              background: hsl(233, 24%, 85%);
            }
            &:active {
              transform: scale(0.9);
            }
          }
        }
  
      
      }
    }
  }

}

/* responsive design */

// @media (max-width: 999px) {
//   .form-container {
//     padding: 2rem 2.5rem;
//   }
//   .form-content {
//     width: 100%;
//   }
//   .grid-col-3 {
//     grid-template-columns: 1fr;
//   }

//   .grid-col-2 {
//     grid-template-columns: 1fr;
//   }
// }

// @media (max-width: 600px) {
//   .form-container {
//     padding: 2rem 1.5rem;
//   }
// }

