.manage-applicant-container {
  font-family: "Arial", sans-serif;
  background: linear-gradient(45deg, var(--white-1), var(--white-12));
  border-radius: 15px;
  padding: 40px;
  box-shadow: 20px 20px 40px var(--black-shadow-light-1),
    -20px -20px 40px var(--white-shadow-0);
  @media (max-width: $breakpoint-desktop-wide) {
  }
  @media (max-width: $breakpoint-desktop) {
  }
  @media (max-width: $breakpoint-large-tablet) {
  }
  @media (max-width: $breakpoint-tablet) {
    box-shadow: 5px 5px 10px var(--black-shadow-light-1),
      -5px -5px 10px var(--white-shadow-0);
    padding: 30px;
  }
  @media (max-width: $breakpoint-phone) {
  }

  .title {
    position: relative;
    text-align: center;
    z-index: 1;
    color: var(--black);
    font-family: var(--font-oswald);
    font-size: var(--font-7);
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 0 3% 0;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
      font-size: var(--font-6);
    }
    @media (max-width: $breakpoint-phone) {
    }
    &::before {
      content: "";
      display: block;
      width: 50%;
      height: 5px;
      background: linear-gradient(90deg, var(--pink-3), var(--purple-4));
      position: absolute;
      bottom: 0;
      left: 50%;
      border-radius: 20px;
      transform: translateX(-50%);
      transition: width 2s ease-in-out;
      animation: underlineAnimation 2s infinite alternate;
    }
    @keyframes underlineAnimation {
      to {
        width: 20%;
      }
    }
  }

  .filters {
    position: relative;
    @include flex-container(row, wrap, center, center);
    margin: 0 0 2% 0;
    .search-input,
    .filter-select,
    .checkbox-label {
      position: relative;
      font-family: var(--font-tektur);
      font-size: var(--font-13);
      color: var(--black);
      letter-spacing: 2px;
      font-weight: 400;
      background-color: var(--white);
      border: 1px solid #838383;
      border-radius: 10px;
      margin: 10px;
      padding: 12px;
      transition: border-color 0.3s ease;

      &:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 10px;
        width: 1px;
        background-color: #ccc;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 18px;
        color: #666;
      }

      &:focus::after {
        border-color: #007bff;
      }
    }
    .filter-label {
      font-family: var(--font-tektur);
      font-size: var(--font-12);
      color: #666;
    }
    .search-input::placeholder,
    .filter-select::placeholder {
      color: #999;
    }
    .checkbox-input {
      margin: 0 10px 0 0;
    }
    .checkbox-label {
      &:hover:before {
        color: #007bff;
      }

      input[type="checkbox"]:checked + &::before {
        color: #4caf50;
      }
    }
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    @media (max-width: $breakpoint-desktop-wide) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
    }
    .card {
      @include flex-container(column, nowrap, flex-start, center);
      position: relative;
      padding: 20px;
      background: linear-gradient(45deg, #ecf0f1, #dce1e3);
      border-radius: 15px;
      box-shadow: 10px 10px 20px var(--black-shadow-light-1),
        -10px -10px 20px var(--white-shadow-0);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 20px var(--black-shadow-light-1),
          0 0 40px var(--black-shadow-light) inset;
      }

      .card-title {
        font-family: var(--font-elianto);
        font-size: var(--font-10);
        color: var(--black);
        text-align: center;
        margin: 2% 0 0 0;
        letter-spacing: 2px;
        transition: color 0.3s ease;
      }

      .applicant-image {
        border-radius: 50%;
        transition: transform 0.3s ease;
        margin: 1% 0 0 0;
        border: 1px solid #ccc;
      }
      .default-image {
        text-align: center;
      }
      .course-applied,
      .streams-applied {
        margin: 5% 0 0 0;
        font-family: var(--font-tektur);
        font-size: var(--font-12);
        letter-spacing: 4px;
        font-weight: 500;
        color: var(--black);
        text-align: center;
        transition: color 0.3s ease;
        strong {
          font-weight: 400;
        }
      }

      .button-container {
        margin: 5% 0 0 0;
        @include flex-container(row, nowrap, center, center);
        position: relative;
        z-index: 2;
        gap: 10px;
        .delete-button,
        .profile-button {
          padding: 10px 15px;
          border: none;
          border-radius: 10px;
          cursor: pointer;
          font-size: var(--font-12);
          transition: all 0.3s ease;
          background-color: #ff5a5a;
          color: #fff;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 1px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          border: 1px solid transparent;

          &:hover {
            background-color: #ff3333;
            transform: translateY(-1px) scale(1.05);
          }
        }

        .profile-button {
          background-color: #4caf50;

          &:hover {
            background-color: #43a047;
          }
        }
      }

      &:hover .applicant-image {
        transform: scale(1.05);
      }

      &:hover .card-title,
      &:hover .course-applied,
      &:hover .streams-applied {
        color: #007bff;
      }
    }
  }

  .no-applicants {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    color: #666;
  }

  .page-management {
    @include flex-container(row, nowrap, center, center);
    margin: 5% 0 0 0;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
      @include flex-container(column, nowrap, center, center);
    }
    @media (max-width: $breakpoint-phone) {
    }
    .page-size-select {
      margin: 0 3% 0 0;
      font-family: var(--font-roboto);
      font-size: var(--font-12);
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
        margin: 0 0 3% 0;
      }
    }
    .pagination-list {
      @include flex-container(row, nowrap, center, center);
      gap: 10px;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
        @include flex-container(column, nowrap, center, center);
      }
      @media (max-width: $breakpoint-phone) {
      }
      .pagination-item {
        margin-right: 5px;

        .pagination-link {
          font-size: var(--font-13);
          font-family: var(--font-elianto);
          padding: 10px 15px;
          border: 1px solid #ced4da;
          border-radius: 10px;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
          }
        }

        &.active {
          .pagination-link {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
          }
        }
      }
    }
  }
}
