.qr-reader {
  background-color: lightgray;
  padding: 20px;
  position: relative;
  width: 50%;
  aspect-ratio: 1;
  margin: 0 auto;
}

.qr-reader video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.qr-reader .qr-frame {
  position: absolute;
  fill: none;
  width: 90%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media (max-width: 426px) {
  .qr-reader {
    width: 100%;
  }
}

.scanner__result {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 100;
  backdrop-filter: blur(5px);
  text-align: center;
  overflow: scroll;
  .btn {
    font-family: var(--font-tektur);
    font-size: var(--font-12);
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
    background-color: var(--blue-2);
    color: var(--white);
    margin: 1% 0 1% 0;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--blue-1);
    }

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      background: linear-gradient(135deg, var(--blue-2), var(--blue-1));
      border-radius: 30px;
      z-index: -1;
    }
  }

  .scanned-result {
    font-family: var(--font-elianto);
    font-size: var(--font-8);
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 0 0 1% 0;

    .heading {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 15px;
      color: #333;
    }

    .label {
      font-weight: bold;
      margin-right: 10px;
      color: #555;
    }
  }

  .profile-image-container {
    .profile-image {
      // position: relative;
      border-radius: 50%;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
  }

  .profile-fields {
    .field {
      margin-bottom: 40px;

      .heading {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 15px;
        color: #333;
      }

      .label {
        font-weight: bold;
        margin-right: 10px;
        color: #555;
      }
    }
  }
}
