.scanner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  //   background-color: aqua;

  &__heading {
    color: red;
  }

  &__camera {
    width: 400px;
    padding: 30px;
    aspect-ratio: 1;
    // border: 2px solid red;
    background-color: rgb(199, 199, 199);
  }
}
