.about-us-landing-container {
  max-width: 800px;
  height: 85vh;
  max-height: 100%;
  margin: 10% 0 0 0;
  padding: 20px;
  background: var(--white-shadow-light);
  backdrop-filter: blur(10px);
  border: 1px solid var(--white-shadow-light-1);
  box-shadow: 0 4px 10px var(--black-shadow-light-1);
  border-radius: 12px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 5;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  @media (max-width: $breakpoint-desktop-wide) {
    max-width: 650px;
    height: 85vh;
    padding: 15px;
    margin: 10% 0 0 0;
  }
  @media (max-width: $breakpoint-desktop) {
    max-width: 600px;
  }
  @media (max-width: $breakpoint-large-tablet) {
    margin: 12% 0 0 0;
    max-width: 400px;
  }
  @media (max-width: $breakpoint-tablet) {
    margin: 10% 0 0 0;
    padding: 20px;
  }
  @media (max-width: $breakpoint-phone) {
    max-width: 300px;
    max-height: 650px;
  }
  &:hover {
    background: rgba(255, 255, 255, 0.05);
    border-color: var(--white-shadow-light-3);
    transform: scale(1.0005);
  }
  // ! Scrollbar codes
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--white-1);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--blue-11);
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
    box-shadow: inset 0 0 4px var(--black-shadow-light-1);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-11);
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: var(--blue-5);
  }

  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-track-piece {
    background-color: var(--white-1);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-thumb:vertical {
    height: 20px;
  }

  &::-webkit-scrollbar-thumb:horizontal {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb:after {
    content: " ";
    display: block;
    background: linear-gradient(
      45deg,
      transparent 10%,
      var(--blue-11) 10%,
      var(--blue-11) 90%,
      transparent 90%
    );
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
  }
  h3.aboutus-heading {
    position: relative;
    text-align: center;
    color: var(--white);
    font-family: var(--font-oswald);
    font-size: var(--font-7);
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px var(--black-shadow-light-1);
    margin: 0 0 2% 0;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    @media (max-width: $breakpoint-desktop-wide) {
      font-size: var(--font-8);
      margin: 0 0 1.5% 0;
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
      font-size: var(--font-5);
    }
    @media (max-width: $breakpoint-phone) {
    }
    &::before {
      content: "";
      display: block;
      width: 45%;
      height: 5px;
      background: linear-gradient(90deg, var(--blue-7), var(--pink-4));
      position: absolute;
      bottom: 0;
      left: 50%;
      border-radius: 20px;
      transform: translateX(-50%);
      transition: width 2s ease-in-out;
      animation: underlineAnimation 2s infinite alternate;
    }
    @keyframes underlineAnimation {
      to {
        width: 20%;
      }
    }
  }

  .description,
  .technologies {
    @include flex-container(column, nowrap, center, center);
    gap: 5px;
    margin: 0 0 2% 0;
    @media (max-width: $breakpoint-desktop-wide) {
      margin: 0 0 1.5% 0;
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
      margin: 0 0 2% 0;
    }
    @media (max-width: $breakpoint-phone) {
    }
    .description-heading,
    .technologies-heading {
      color: var(--white);
      font-family: var(--font-oswald);
      font-size: var(--font-9);
      font-weight: 400;
      letter-spacing: 3px;
      text-transform: uppercase;
      text-shadow: 2px 2px 4px var(--black-shadow-light-1);
      @media (max-width: $breakpoint-desktop-wide) {
        font-size: var(--font-10);
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
        font-size: var(--font-8);
      }
      @media (max-width: $breakpoint-phone) {
      }
    }
    p {
      text-align: justify;
      color: var(--white);
      font-family: var(--font-tektur);
      font-size: var(--font-12);
      font-weight: 400;
      letter-spacing: 1.5px;
      text-shadow: 2px 2px 4px var(--black-shadow-light-1);
      line-height: 1.5;
      @media (max-width: $breakpoint-desktop-wide) {
        font-size: var(--font-12);
        letter-spacing: 1px;
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
        text-align: center;
        font-size: var(--font-11);
      }
      @media (max-width: $breakpoint-phone) {
      }
    }
  }

  .problems,
  .key-solution-and-objective,
  .future-plans {
    margin: 0 0 2% 0;
    border: 1px solid var(--white-shadow-light-1);
    border-radius: 12px;
    padding: 15px;
    padding-top: 0;
    transition: background 0.5s ease-in-out, border 0.5s ease-in-out,
      transform 0.5s ease-in-out;
    @media (max-width: $breakpoint-desktop-wide) {
      margin: 0 0 1.5% 0;
      padding: 10px;
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
      margin: 0 0 2% 0;
    }
    @media (max-width: $breakpoint-phone) {
    }
    &:hover {
      background: rgba(255, 255, 255, 0.05);
      border-color: var(--white-shadow-light-2);
      transform: scale(1.0005);
    }

    h2 {
      cursor: pointer;
      margin: 0 0 2% 0;
      text-align: center;
      color: var(--yellow);
      font-family: var(--font-oswald);
      font-size: var(--font-9);
      font-weight: 800;
      letter-spacing: 4px;
      text-transform: uppercase;
      transition: color 0.5s ease-in-out, text-decoration 0.5s ease-in-out;
      @media (max-width: $breakpoint-desktop-wide) {
        margin: 0 0 1% 0;
        font-size: var(--font-10);
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
        font-size: var(--font-9);
      }
      @media (max-width: $breakpoint-phone) {
      }
      &:hover {
        color: var(--white);
        text-decoration: underline;
      }
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 15px;
      @media (max-width: $breakpoint-desktop-wide) {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      }
      @media (max-width: $breakpoint-desktop) {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
      @media (max-width: $breakpoint-large-tablet) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
      @media (max-width: $breakpoint-tablet) {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      }
      @media (max-width: $breakpoint-phone) {
      }
      div {
        @include flex-container(column, nowrap, flex-start, center);
        gap: 10px;
        border: 1px solid var(--white-shadow-light-1);
        border-radius: 12px;
        padding: 15px;
        text-align: center;
        transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
        &:hover {
          background: var(--white-shadow-light);
          transform: scale(1.02);
          animation: shake 3s ease-in-out infinite;
        }
        span {
          color: var(--white);
          position: relative;
          font-family: var(--font-elianto);
          font-size: var(--font-10);
          text-transform: capitalize;
          font-weight: 600;
          letter-spacing: 1.5px;
          text-shadow: 2px 2px 4px var(--white-shadow-light-1);
          @media (max-width: $breakpoint-desktop-wide) {
            font-size: var(--font-11);
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
            font-size: var(--font-10);
          }
          @media (max-width: $breakpoint-phone) {
          }
          &::before {
            content: "";
            display: block;
            width: 80%;
            height: 3px;
            position: absolute;
            bottom: 0;
            left: 50%;
            border-radius: 20px;
            transform: translateX(-50%);
            transition: width 2s ease-in-out;
            animation: underlineAnimation 5s infinite alternate;
          }
          @keyframes underlineAnimation {
            to {
              width: 20%;
            }
          }
        }
        .problem-grid-heading {
          &::before {
            background: linear-gradient(
              to right,
              var(--green-7),
              var(--green-8)
            );
          }
        }
        .solution-and-object-grid-heading {
          &::before {
            background: linear-gradient(
              to right,
              var(--blue-13),
              var(--blue-14)
            );
          }
        }
        .future-plans-grid-heading {
          &::before {
            background: linear-gradient(
              to right,
              var(--yellow-9),
              var(--yellow-10)
            );
          }
        }
        p {
          color: var(--white);
          text-align: center;
          font-family: var(--font-roboto);
          font-size: var(--font-11);
          font-weight: 400;
          letter-spacing: 1.5px;
          text-shadow: 2px 2px 4px var(--white-shadow-light-1);
          line-height: 1.5;
          @media (max-width: $breakpoint-desktop-wide) {
            font-size: var(--font-12);
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
            font-size: var(--font-11);
          }
          @media (max-width: $breakpoint-phone) {
          }
        }
      }
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    25%,
    75% {
      transform: translateX(-1px);
    }
    50% {
      transform: translateX(1px);
    }
  }
}
