.about-us-landing-container {
  max-width: 800px;
  height: 85vh;
  max-height: 100%;
  margin: 10% auto;
  padding: 20px;

  background: var(--white-shadow-light);
  backdrop-filter: blur(10px);
  border: 1px solid var(--white-shadow-light-1);
  border-radius: 12px;
  box-shadow: 0 0 5px var(--black-shadow-light-1);
  color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
  overflow: auto;
}
