.contact-us-landing-container {
  position: relative;
  background: var(----black-shadow-light);
  backdrop-filter: blur(25px);
  border-radius: 15px;
  box-shadow: 0 8px 16px var(--black-shadow-light-1);
  padding: 20px;
  max-width: 800px;
  height: 85vh;
  max-height: 100%;
  margin: 10% 0 0 0;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 5;
  transition: box-shadow 0.5s ease-in-out, background 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  @media (max-width: $breakpoint-desktop-wide) {
    max-width: 650px;
    height: 85vh;
    padding: 15px;
    margin: 10% 0 0 0;
  }
  @media (max-width: $breakpoint-desktop) {
    max-width: 600px;
  }
  @media (max-width: $breakpoint-large-tablet) {
    margin: 12% 0 0 0;
    max-width: 400px;
  }
  @media (max-width: $breakpoint-tablet) {
    margin: 10% 0 0 0;
    padding: 20px;
  }
  @media (max-width: $breakpoint-phone) {
    max-width: 320px;
    max-height: 650px;
  }
  &:hover {
    box-shadow: 0 12px 24px var(--black-shadow-light-2);
    background: rgba(255, 255, 255, 0.05);
  }
  // ! Scrollbar codes
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--white-1);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--blue-11);
    border-radius: 8px;
    transition: background-color 0.5s ease-in-out-in-out;
    box-shadow: inset 0 0 4px var(--black-shadow-light-1);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-11);
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: var(--blue-5);
  }

  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-track-piece {
    background-color: var(--white-1);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-thumb:vertical {
    height: 20px;
  }

  &::-webkit-scrollbar-thumb:horizontal {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb:after {
    content: " ";
    display: block;
    background: linear-gradient(
      45deg,
      transparent 10%,
      var(--blue-11) 10%,
      var(--blue-11) 90%,
      transparent 90%
    );
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
  }
  .contact-us-heading {
    position: relative;
    text-align: center;
    color: var(--white);
    font-family: var(--font-oswald);
    font-size: var(--font-7);
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px var(--black-shadow-light-1);
    margin: 0 0 1% 0;
    transition: color 0.5s ease-in-out-in-out,
      text-shadow 0.5s ease-in-out-in-out;
    @media (max-width: $breakpoint-desktop-wide) {
      font-size: var(--font-8);
      margin: 0 0 1.5% 0;
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
      font-size: var(--font-5);
    }
    @media (max-width: $breakpoint-phone) {
    }
    &::before {
      content: "";
      display: block;
      width: 45%;
      height: 5px;
      background: linear-gradient(90deg, var(--blue-7), var(--pink-4));
      position: absolute;
      bottom: 0;
      left: 50%;
      border-radius: 20px;
      transform: translateX(-50%);
      transition: width 2s ease-in-out;
      animation: underlineAnimation 2s infinite alternate;
    }
    @keyframes underlineAnimation {
      to {
        width: 20%;
      }
    }
  }

  .team-members {
    margin: 1% 0 0 0;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
    }
    .team-members-heading {
      font-family: var(--font-orbitron);
      font-size: var(--font-9);
      letter-spacing: 3px;
      color: var(--yellow-1);
      text-transform: uppercase;
      text-align: center;
      padding: 0.5rem;
      transition: all 0.5s ease-in-out;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
      &:hover {
        color: var(--yellow);
        transform: translateY(-2px) translateX(2px) scale(1.05);
        text-shadow: 5px 10px 20px var(--black-shadow);
      }
    }

    .member {
      margin: 3% 0 0 0;
      background: rgba(0, 0, 0, 0.05);
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 0 8px var(--black-shadow-light-2);
      position: relative;
      transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
      &:hover {
        transform: scale(1.005);
        box-shadow: 0 8px 16px -5px var(--black-shadow);
      }
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--blue-11);
        bottom: 0;
        left: 0;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 0.5s ease-in-out;
      }
      &:hover:before {
        transform-origin: left;
        transform: scaleX(1.005);
      }
      &__heading {
        font-family: var(--font-roboto);
        font-size: var(--font-10);
        color: var(--yellow-1);
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: color 0.5s ease-in-out;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
        &:hover {
          color: var(--yellow);
        }
      }

      &__email {
        cursor: pointer;
        @include flex-container(row, nowrap, center, center);
        gap: 10px;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
        &__icon {
          position: relative;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: var(--blue-11);
          transition: all 0.5s ease-in-out;
          cursor: pointer;
          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
            height: 20px;
            width: 20px;
          }
          &:hover {
            transform: scale(1.05);
            box-shadow: 5px 10px 20px var(--black-shadow);
          }
        }
        &__link {
          color: var(--blue-1);
          font-size: var(--font-12);
          font-family: var(--font-roboto);
          letter-spacing: 2px;
          font-weight: 600;
          text-decoration: none;
          transition: all 0.5s ease-in-out;
          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
          &:hover {
            color: var(--green);
            transform: scale(1.01);
            text-decoration: underline;
          }
        }
      }
      &__expertise {
        color: var(--white);
        margin: 2% 0 1% 0;
        font-family: var(--font-elianto);
        font-size: var(--font-11);
        letter-spacing: 1px;
        text-transform: capitalize;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
      }

      &__description {
        color: var(--white);
        font-family: var(--font-tektur);
        font-size: var(--font-12);
        text-align: center;
        letter-spacing: 2px;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
      }
    }
  }

  .contact-email {
    cursor: pointer;
    margin: 3% 0 0 0;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
    }
    &__heading {
      color: var(--red-2);
      font-family: var(--font-roboto);
      font-size: var(--font-9);
      letter-spacing: 3px;
      text-transform: uppercase;
      text-align: center;
      padding: 0.5rem;
      transition: all 0.5s ease;
      box-shadow: 0px 8px 20px -5px var(--black-shadow-medium);
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
      &:hover {
        color: var(--red-5);
        box-shadow: 0 4px 12px var(--black-shadow-light);
        transform: translateY(-2px);
      }
    }
    &__container {
      @include flex-container(row, nowrap, center, center);
      gap: 10px;
      margin: 3% 0 1% 0;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
      &__icon {
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--blue-11);
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
          height: 20px;
          width: 20px;
        }
        &:hover {
          transform: scale(1.05);
          box-shadow: 5px 10px 20px var(--black-shadow);
        }
      }
      &__content {
        color: var(--blue-1);
        font-size: var(--font-12);
        font-family: var(--font-roboto);
        letter-spacing: 2px;
        font-weight: 600;
        text-decoration: none;
        transition: all 0.5s ease-in-out;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
        &:hover {
          color: var(--green);
          transform: scale(1.01);
          text-decoration: underline;
        }
      }
    }
  }

  .team-objective {
    margin: 3% 0 0 0;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
    }
    &__heading {
      color: var(--red-2);
      font-family: var(--font-roboto);
      font-size: var(--font-9);
      letter-spacing: 3px;
      text-transform: uppercase;
      text-align: center;
      padding: 0.5rem;
      transition: all 0.5s ease;
      box-shadow: 0px 8px 20px -5px var(--black-shadow-medium);
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
      &:hover {
        color: var(--red-5);
        box-shadow: 0 4px 12px var(--black-shadow-light);
        transform: translateY(-2px);
      }
    }
    &__content {
      color: var(--white);
      font-family: var(--font-tektur);
      font-size: var(--font-12);
      letter-spacing: 2px;
      text-align: center;
      margin: 2% 0 0 0;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
    }
  }

  .social-media {
    .social-media-heading {
      color: var(--yellow-2);
      font-family: var(--font-roboto);
      font-size: var(--font-9);
      letter-spacing: 3px;
      text-transform: uppercase;
      text-align: center;
      margin: 1.5% 0 1.5% 0;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
    }

    ul {
      @include flex-container(column, nowrap, center, center);
      gap: 10px;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
      li {
        @include flex-container(row, nowrap, center, center);
        gap: 30px;
        cursor: pointer;
        transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        font-family: var(--font-elianto);
        font-size: var(--font-10);
        letter-spacing: 1.5px;
        margin: 0 0 2% 0;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
        &:hover {
          transform: scale(1.1);
          box-shadow: 0 0 8px var(--black-shadow-light-1);
        }
        &:before {
          content: "";
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: var(--blue-11);
          border-radius: 50%;
          margin-right: 5px;
          transition: transform 0.5s ease-in-out;
        }
        &:hover {
          &:before {
            transform: scale(1.5);
          }
        }
        .github-icon,
        .twitter-icon,
        .linkedin-icon,
        .instagram-icon,
        .facebook-icon {
          position: relative;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          transition: transform 0.5s ease-in-out;
          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
            height: 30px;
            width: 30px;
          }
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
