.forget-password-container {
  max-width: 450px;
  width: 100%;
  max-height: 600px;
  height: 100%;
  margin: 5% 0 0 0;
  padding: 30px;
  background: var(--white-shadow-light);
  backdrop-filter: blur(10px);
  border: 1px solid var(--white-shadow-light-1);
  border-radius: 12px;
  box-shadow: 0 0 5px var(--black-shadow-light-1);
  z-index: 5;
  transition: background 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  @media (max-width: $breakpoint-desktop-wide) {
    margin: 8% 0 0 0;
    max-width: 400px;
    max-height: 550px;
    padding: 25px;
  }
  @media (max-width: $breakpoint-desktop) {
    margin: 12% 0 0 0;
    max-width: 370px;
    max-height: 510px;
    padding: 20px;
  }
  @media (max-width: $breakpoint-large-tablet) {
    max-width: 400px;
    max-height: 550px;
    padding: 25px;
  }
  @media (max-width: $breakpoint-tablet) {
    padding: 20px;
    max-height: 530px;
  }
  @media (max-width: $breakpoint-phone) {
    max-width: 350px;
    max-height: 500px;
    padding: 15px;
  }
  &:hover {
    background: rgba(255, 255, 255, 0.15);
    // ! important
    // .login-heading::before {
    //   width: 70%;
    // }
    box-shadow: 0px 8px 20px -5px var(--black-shadow-medium);
  }
  .forget-password-heading {
    position: relative;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: var(--white);
    font-family: var(--font-oswald);
    font-size: var(--font-7);
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 0 5% 0;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
      font-size: var(--font-4);
    }
    @media (max-width: $breakpoint-phone) {
    }
    &::before {
      content: "";
      display: block;
      width: 50%;
      height: 5px;
      background: linear-gradient(90deg, var(--blue-7), var(--pink-4));
      position: absolute;
      bottom: 0;
      left: 50%;
      border-radius: 20px;
      transform: translateX(-50%);
      transition: width 2s ease-in-out;
      animation: underlineAnimation 2s infinite alternate;
    }
    @keyframes underlineAnimation {
      to {
        width: 20%;
      }
    }
  }
  .forget-password-subheading {
    text-align: center;
    margin: 0 0 % 0;
    font-family: var(--font-tektur);
    font-size: var(--font-10);
    font-weight: 400;
    letter-spacing: 3px;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
      font-size: var(--font-7);
    }
    @media (max-width: $breakpoint-phone) {
    }
  }
  .forget-password-form {
    @include flex-container(column, nowrap, none, none);
    z-index: 1;
    gap: 0px;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
    }
    .forget-password-input-container {
      @include flex-container(column, nowrap, center, center);
      gap: 20px;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
      .image-container {
        @include flex-container(row, nowrap, center, center);
        gap: 30px;
        .username-icon,
        .password-icon {
          filter: invert(0.5);
          position: relative;
          height: 50px;
          width: 50px;
          @media (max-width: $breakpoint-desktop-wide) {
            height: 40px;
            width: 40px;
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
        }
        .forgot-or {
          font-family: var(--font-tektur);
          font-size: var(--font-10);
          font-weight: 600;
          letter-spacing: 3px;
          color: var(--black);
          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
        }
      }
      input {
        padding: 20px;
        border: none;
        border-radius: 6px;
        background: var(--white-shadow-light);
        backdrop-filter: blur(8px);
        color: var(--white);
        transition: background 0.3s, box-shadow 0.3s;
        width: 100%;
        font-family: var(--font-tektur);
        font-size: var(--font-12);
        letter-spacing: 3px;
        font-weight: 600;
        outline: none;
        @media (max-width: $breakpoint-desktop-wide) {
          padding: 15px;
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
          font-size: var(--font-10);
        }
        @media (max-width: $breakpoint-phone) {
        }
        &::placeholder {
          color: var(--white-shadow-1);
          font-family: var(--font-tektur);
          font-size: var(--font-12);
          letter-spacing: 3px;
          font-weight: 400;
          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
            font-size: var(--font-10);
          }
          @media (max-width: $breakpoint-phone) {
          }
        }
      }
      &:focus-within {
        .username-icon,
        .password-icon {
          filter: invert(1);
        }
      }
    }
    .forget-password-button-container {
      .forget-password-button {
        font-family: var(--font-elianto);
        font-size: var(--font-11);
        text-transform: uppercase;
        letter-spacing: 2px;
        color: var(--black);
        position: absolute;
        right: 10%;
        left: 10%;
        top: 70%;
        width: 80%;
        z-index: 1;
        margin: 5% 0 0 0;
        padding: 15px 30px;
        background: linear-gradient(to right, var(--blue-11), var(--blue-12));
        border: none;
        border-radius: 6px;
        cursor: pointer;
        overflow: hidden;
        transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out,
          background 0.4s ease-in-out;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
          font-size: var(--font-9);
        }
        @media (max-width: $breakpoint-phone) {
        }
        &:hover {
          background: linear-gradient(
            135deg,
            darken(#2980b9, 10%),
            darken(#3498db, 10%)
          );
          transform: translateY(1px);
          box-shadow: 0px 8px 20px -5px var(--black-shadow-medium);
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 50px;
          height: 50px;
          background: var(--white-shadow-1);
          border-radius: 50%;
          opacity: 0.4;
          pointer-events: none;
          transform: scale(0);
          transition: transform 0.4s ease-out, opacity 0.4s ease-out;
        }

        &::before {
          top: -25px;
          left: -25px;
        }

        &::after {
          bottom: -25px;
          right: -25px;
        }
        // ! important
        &:hover::before {
          top: 0px;
          left: -25px;
        }
        &:hover::after {
          top: 0;
          right: -25px;
        }

        &::before {
          animation: ripple 2s linear infinite;
        }

        &::after {
          animation: ripple 2s linear infinite;
        }
        @keyframes ripple {
          to {
            transform: scale(5);
            opacity: 0;
          }
        }
      }
    }
  }
  .new-password-form {
    @include flex-container(column, nowrap, center, center);
    gap: 20px;
    text-align: center;
    margin: 5% 0 0 0;
    .otp-input-container,
    .new-password-input-container,
    .confirm-password-input-container {
      @include flex-container(row, nowrap, center, center);
      gap: 10px;
      .otp-icon,
      .password-icon {
        filter: invert(0.5);
        position: relative;
        height: 40px;
        width: 40px;
        @media (max-width: $breakpoint-desktop-wide) {
          height: 30px;
          width: 30px;
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
      }
      input {
        padding: 20px;
        border: none;
        border-radius: 6px;
        background: var(--white-shadow-light);
        backdrop-filter: blur(8px);
        color: var(--white);
        transition: background 0.3s, box-shadow 0.3s;
        width: 100%;
        font-family: var(--font-tektur);
        font-size: var(--font-12);
        letter-spacing: 3px;
        font-weight: 600;
        outline: none;
        @media (max-width: $breakpoint-desktop-wide) {
          padding: 15px;
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
          font-size: var(--font-10);
        }
        @media (max-width: $breakpoint-phone) {
        }
        &::placeholder {
          color: var(--white-shadow-1);
          font-family: var(--font-tektur);
          font-size: var(--font-12);
          letter-spacing: 3px;
          font-weight: 400;
          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
            font-size: var(--font-10);
          }
          @media (max-width: $breakpoint-phone) {
          }
        }
      }
    }
    &:focus-within {
      .otp-icon,
      .password-icon {
        filter: invert(1);
      }
    }
    .new-password-button-container {
      .new-password-button {
        font-family: var(--font-elianto);
        font-size: var(--font-11);
        text-transform: uppercase;
        letter-spacing: 2px;
        color: var(--black);
        position: relative;
        z-index: 1;
        margin: 5% 0 0 0;
        padding: 15px 30px;
        background: linear-gradient(to right, var(--orange-5), var(--orange-6));
        border: none;
        border-radius: 6px;
        cursor: pointer;
        overflow: hidden;
        transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out,
          background 0.4s ease-in-out;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
          font-size: var(--font-9);
        }
        @media (max-width: $breakpoint-phone) {
        }
        &:hover {
          background: linear-gradient(
            135deg,
            darken(#d35400, 10%),
            darken(#e67e22, 10%)
          );
          transform: translateY(1px);
          box-shadow: 0px 8px 20px -5px var(--black-shadow-medium);
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 50px;
          height: 50px;
          background: var(--white-shadow-1);
          border-radius: 50%;
          opacity: 0.4;
          pointer-events: none;
          transform: scale(0);
          transition: transform 0.4s ease-out, opacity 0.4s ease-out;
        }

        &::before {
          top: -25px;
          left: -25px;
        }

        &::after {
          bottom: -25px;
          right: -25px;
        }
        // ! important
        &:hover::before {
          top: 0px;
          left: -25px;
        }
        &:hover::after {
          top: 0;
          right: -25px;
        }

        &::before {
          animation: ripple 2s linear infinite;
        }

        &::after {
          animation: ripple 2s linear infinite;
        }
        @keyframes ripple {
          to {
            transform: scale(5);
            opacity: 0;
          }
        }
      }
    }
    .new-password-input-container {
      .password-requirements {
        text-align: center;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 1000;
        padding: 20px;
        background: var(--black-shadow-1);
        border: 1px solid var(--white-shadow-light-1);
        border-radius: 12px;
        box-shadow: 0 0 5px var(--black-shadow-light-1);
        @media (max-width: $breakpoint-desktop-wide) {
          left: -110%;
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
        p {
          margin: 0 0 1% 0;
          font-family: var(--font-oswald);
          font-size: var(--font-11);
          color: var(--white);
          font-weight: 400;
          letter-spacing: 1px;
          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
        }
        ul {
          @include flex-container(column, nowrap, center, center);
          gap: 10px;
          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
          li {
            font-family: var(--font-roboto);
            font-size: var(--font-12);
            color: var(--white);
            font-weight: 400;
            letter-spacing: 1px;
            @media (max-width: $breakpoint-desktop-wide) {
            }
            @media (max-width: $breakpoint-desktop) {
            }
            @media (max-width: $breakpoint-large-tablet) {
            }
            @media (max-width: $breakpoint-tablet) {
            }
            @media (max-width: $breakpoint-phone) {
            }
          }
        }
      }
    }
    .confirm-password-input-container {
      .confirm-password {
        text-align: center;
        position: absolute;
        top: 50%;
        left: -100%;
        z-index: 1000;
        padding: 20px;
        background: var(--black-shadow-medium);
        border: 1px solid var(--white-shadow-light-1);
        border-radius: 12px;
        box-shadow: 0 0 5px var(--black-shadow-light-1);
        font-family: var(--font-roboto);
        font-size: var(--font-12);
        color: var(--white);
        font-weight: 400;
        letter-spacing: 1px;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
      }
    }
  }
}
