.forget-username-container {
  max-width: 450px;
  width: 100%;
  max-height: 600px;
  height: 100%;
  margin: 5% 0 0 0;
  padding: 30px;
  background: var(--white-shadow-light);
  backdrop-filter: blur(10px);
  border: 1px solid var(--white-shadow-light-1);
  border-radius: 12px;
  box-shadow: 0 0 5px var(--black-shadow-light-1);
  z-index: 5;
  transition: background 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  @media (max-width: $breakpoint-desktop-wide) {
    margin: 8% 0 0 0;
    max-width: 400px;
    max-height: 550px;
    padding: 25px;
  }
  @media (max-width: $breakpoint-desktop) {
    margin: 12% 0 0 0;
    max-width: 370px;
    max-height: 510px;
    padding: 20px;
  }
  @media (max-width: $breakpoint-large-tablet) {
    max-width: 400px;
    max-height: 550px;
    padding: 25px;
  }
  @media (max-width: $breakpoint-tablet) {
    padding: 20px;
    max-height: 530px;
  }
  @media (max-width: $breakpoint-phone) {
    max-width: 350px;
    max-height: 500px;
    padding: 15px;
  }
  &:hover {
    background: rgba(255, 255, 255, 0.15);
    // ! important
    // .login-heading::before {
    //   width: 70%;
    // }
    box-shadow: 0px 8px 20px -5px var(--black-shadow-medium);
  }
  .forget-username-heading {
    position: relative;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: var(--white);
    font-family: var(--font-oswald);
    font-size: var(--font-7);
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 0 5% 0;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
      font-size: var(--font-4);
    }
    @media (max-width: $breakpoint-phone) {
    }
    &::before {
      content: "";
      display: block;
      width: 50%;
      height: 5px;
      background: linear-gradient(90deg, var(--blue-7), var(--pink-4));
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: width 2s ease-in-out;
      animation: underlineAnimation 2s infinite alternate;
    }
    @keyframes underlineAnimation {
      to {
        width: 20%;
      }
    }
  }
  .forget-username-subheading {
    text-align: center;
    margin: 0 0 % 0;
    font-family: var(--font-tektur);
    font-size: var(--font-10);
    font-weight: 400;
    letter-spacing: 3px;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
    }
  }
  .forget-username-form {
    @include flex-container(column, nowrap, none, none);
    z-index: 1;
    gap: 0px;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
    }
    .forget-username-input-container {
      @include flex-container(column, nowrap, center, center);
      gap: 20px;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
      .image-container {
        @include flex-container(row, nowrap, center, center);
        gap: 30px;
        .email-icon,
        .password-icon {
          filter: invert(0.5);
          position: relative;
          height: 50px;
          width: 50px;
          @media (max-width: $breakpoint-desktop-wide) {
            height: 40px;
            width: 40px;
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
        }
        .forgot-or {
          font-family: var(--font-tektur);
          font-size: var(--font-10);
          font-weight: 600;
          letter-spacing: 3px;
          color: var(--black);
          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
        }
      }
      input {
        padding: 20px;
        border: none;
        border-radius: 6px;
        background: var(--white-shadow-light);
        backdrop-filter: blur(8px);
        color: var(--white);
        transition: background 0.3s, box-shadow 0.3s;
        width: 100%;
        font-family: var(--font-tektur);
        font-size: var(--font-12);
        letter-spacing: 3px;
        font-weight: 600;
        outline: none;
        @media (max-width: $breakpoint-desktop-wide) {
          padding: 15px;
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
          font-size: var(--font-10);
        }
        @media (max-width: $breakpoint-phone) {
        }
        &::placeholder {
          color: var(--white-shadow-1);
          font-family: var(--font-tektur);
          font-size: var(--font-12);
          letter-spacing: 3px;
          font-weight: 400;
          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
            font-size: var(--font-10);
          }
          @media (max-width: $breakpoint-phone) {
          }
        }
      }
      &:focus-within {
        .email-icon,
        .password-icon {
          filter: invert(1);
        }
      }
    }
    .forget-username-button-container {
    }
  }
}
