// styles.scss

// Add your global styles here if needed

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
  background: linear-gradient(
    to right bottom,
    #3498db,
    #2980b9
  ); // Gradient background
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 5;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    background-color: #2980b9;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  h2 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 2em;
    text-align: center;
  }

  .login-form {
    display: flex;
    flex-direction: column;

    .form-label {
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      font-size: 1.2em;
      color: #fff;
      opacity: 0.9;

      .input-icon {
        margin-right: 12px;
        filter: invert(1); // Invert icon color
      }
    }

    .form-input {
      padding: 14px;
      margin: 10px 0;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 15px;
      background: rgba(255, 255, 255, 0.1);
      color: #fff;
      caret-color: #fff;
      font-size: 1.2em;
      transition: border-color 0.3s ease-in-out,
        background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

      &:focus {
        border-color: #2980b9;
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 14px rgba(41, 128, 185, 0.6);
      }

      &::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
    }

    .login-button {
      background-color: #2980b9;
      color: #fff;
      padding: 16px;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      font-size: 1.4em;
      transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
        transform 0.3s ease-in-out;

      &:hover {
        background-color: #3498db;
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
      }
    }
  }
}
