.login-container {
  width: 100%;
  max-width: 370px;
  height: 50%;
  max-height: 500px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
  background: var(--white-shadow-light);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 20px -5px var(--black-shadow-light-1),
    0 5px 10px -5px var(--black-shadow-light);
  z-index: 5;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  @include flex-container(column, nowrap, flex-start, center);
  &:hover {
    background-color: var(--white-shadow-light-1);
    box-shadow: 0 14px 28px -5px var(--black-shadow-light-2),
      0 7px 14px -5px var(--black-shadow-light-1);
  }

  .login-heading {
    margin: 0 0 5% 0;
    font-family: var(--font-playfair);
    font-size: var(--font-6);
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
  }

  .login-form {
    .form-label {
      @include flex-container(row, wrap, center, center);
      margin: 7% 0 0 0;
      gap: 10px;
      .input-icon {
        filter: invert(1);
      }
      .form-input {
        padding: 18px;
        border: 2px solid var(--white-shadow-light-3);
        border-radius: 20px;
        background: var(--white-shadow-light-1);
        color: var(--white);
        caret-color: var(--white);
        transition: border-color 0.3s ease-in-out,
          background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

        &:focus {
          border-color: rgba(255, 255, 255, 0.6);
          background-color: rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 18px rgba(255, 255, 255, 0.5);
        }

        &::placeholder {
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
    .login-button {
      background: linear-gradient(to right, #667eea, #764ba2);
      color: var(--white);
      padding: 20px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      font-size: 1.6em;
      transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
        transform 0.3s ease-in-out;

      &:hover {
        background: linear-gradient(to right, #764ba2, #667eea);
        box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
      }
    }
  }
}
