// styles.scss

// Add your global styles here if needed

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1); // Frosted glass background
  backdrop-filter: blur(10px); // Blur effect
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05);
  z-index: 5; // Set z-index
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1);
  }

  h2 {
    margin-bottom: 20px;
    color: #fff; // Adjust text color for better contrast
    font-size: 1.5em;
  }

  .login-form {
    display: flex;
    flex-direction: column;

    .form-label {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      font-size: 0.9em;
      color: #fff;

      .input-icon {
        margin-right: 10px;
      }
    }

    .form-input {
      padding: 10px;
      margin: 5px 0;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 15px; // Increased border-radius for a glassmorphic effect
      background: rgba(255, 255, 255, 0.1);
      color: #fff; // Adjust text color for better contrast
      caret-color: #fff;
      font-size: 0.9em;
      transition: border-color 0.3s ease-in-out,
        background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

      &:focus {
        border-color: rgba(0, 123, 255, 0.8);
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
      }

      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    .login-button {
      background-color: rgba(0, 123, 255, 0.8);
      color: #fff;
      padding: 12px;
      border: none;
      border-radius: 15px; // Increased border-radius for a glassmorphic effect
      cursor: pointer;
      font-size: 1em;
      transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
        transform 0.3s ease-in-out;

      &:hover {
        background-color: rgba(0, 123, 255, 1);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transform: scale(1.05); // Scale up on hover for a subtle effect
      }
    }
  }
}
