@use "sass:meta";
@use "loading/circle";
@use "loading/default";
@use "loading/dualRing";
@use "loading/ellipsis";
@use "loading/facebook";
@use "loading/grid";
@use "loading/heart";
@use "loading/hourGlass";
@use "loading/ring";
@use "loading/ripple";
@use "loading/roller";
@use "loading/spinner";

.loader-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-shadow-light-3);
  backdrop-filter: blur(5px);
  z-index: 1000;
  zoom: 2;
}

@include meta.load-css("id-card");
@include meta.load-css("faculty-card");
@include meta.load-css("chatbot");
@include meta.load-css("modal");
