:root {
  html {
    scroll-behavior: smooth;
  }
  .none {
    -webkit-user-select: none;
    user-select: none;
  }
  .seo {
    display: none;
  }

  .wrapper {
    width: 100%;
    max-width: max(900px, 60%);
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
    }
  }
}
