.about-us-container {
  font-family: "Arial", sans-serif;
  background: linear-gradient(45deg, var(--white-1), var(--white-12));
  border-radius: 15px;
  padding: 40px;
  box-shadow: 20px 20px 40px var(--black-shadow-light-1),
    -20px -20px 40px var(--white-shadow-0);
  @media (max-width: $breakpoint-desktop-wide) {
  }
  @media (max-width: $breakpoint-desktop) {
  }
  @media (max-width: $breakpoint-large-tablet) {
  }
  @media (max-width: $breakpoint-tablet) {
    padding: 30px;
  }
  @media (max-width: $breakpoint-phone) {
  }
  .aboutus-heading {
    position: relative;
    text-align: center;
    z-index: 1;
    color: var(--black);
    font-family: var(--font-oswald);
    font-size: var(--font-7);
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 0 3% 0;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
      font-size: var(--font-6);
    }
    @media (max-width: $breakpoint-phone) {
    }
    &::before {
      content: "";
      display: block;
      width: 50%;
      height: 5px;
      background: linear-gradient(90deg, var(--pink-3), var(--purple-4));
      position: absolute;
      bottom: 0;
      left: 50%;
      border-radius: 20px;
      transform: translateX(-50%);
      transition: width 2s ease-in-out;
      animation: underlineAnimation 2s infinite alternate;
    }
    @keyframes underlineAnimation {
      to {
        width: 20%;
      }
    }
  }

  .description,
  .technologies {
    .description-heading,
    .technologies-heading {
      font-family: var(--font-elianto);
      font-size: var(--font-8);
      font-weight: 400;
      letter-spacing: 2px;
      text-transform: capitalize;
      color: var(--light-black-3);
      text-shadow: 1px 1px 2px var(--black-shadow-light);
      margin: 0 0 1.5% 0;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
        font-size: var(--font-7);
      }
      @media (max-width: $breakpoint-phone) {
      }
    }

    p {
      font-family: var(--font-roboto);
      font-size: var(--font-11);
      text-align: justify;
      font-weight: 400;
      letter-spacing: 1px;
      color: #777;
      line-height: 1.5;
      margin: 0 0 0.5% 0;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
        font-size: var(--font-10);
      }
      @media (max-width: $breakpoint-phone) {
      }
    }
  }

  .problems,
  .key-solution-and-objective,
  .future-plans {
    h2 {
      text-align: center;
      color: var(--black);
      font-family: var(--font-oswald);
      font-size: var(--font-9);
      font-weight: 400;
      letter-spacing: 3px;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      margin: 2% 0 2% 0;
      text-decoration: underline;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
        font-size: var(--font-8);
        margin: 4% 0 4% 0;
      }
      @media (max-width: $breakpoint-phone) {
      }
      &:hover {
        transform: scale(1.1);
      }
    }

    .grid {
      margin: 2% 0 0 0;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      @media (max-width: $breakpoint-desktop-wide) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
      @media (max-width: $breakpoint-tablet) {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      }
      @media (max-width: $breakpoint-phone) {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      }
      div {
        @include flex-container(column, nowrap, flex-start, center);
        position: relative;
        padding: 20px;
        background: linear-gradient(45deg, #ecf0f1, #dce1e3);
        border-radius: 15px;
        box-shadow: 10px 10px 20px var(--black-shadow-light-1),
          -10px -10px 20px var(--white-shadow-0);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 0 20px var(--black-shadow-light-1),
            0 0 40px var(--black-shadow-light) inset;
        }

        span {
          color: var(--black);
          text-align: center;
          font-family: var(--font-elianto);
          font-size: var(--font-10);
          margin: 0 0 2% 0;
          text-shadow: 1px 1px 2px var(--black-shadow-light);

          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
            font-size: var(--font-9);
          }
          @media (max-width: $breakpoint-phone) {
          }
        }

        p {
          color: var(--black);
          font-family: var(--font-roboto);
          font-size: var(--font-11);
          text-align: center;
          font-weight: 400;
          letter-spacing: 1px;
          color: #777;
          line-height: 1.5;
          margin: 0 0 0.5% 0;
          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
            font-size: var(--font-10);
          }
          @media (max-width: $breakpoint-phone) {
          }
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 20%;
          height: 2px;
          background: linear-gradient(90deg, #ecf0f1, #dce1e3);
          transition: transform 0.3s ease;
        }

        &::before {
          top: 0;
          left: 10%;
        }

        &::after {
          bottom: 0;
          right: 10%;
        }
      }
    }
  }
}
