.applicant-nav {
  background-color: #3498db;
  color: white;
  padding: 10px;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 20px;
    a {
      color: white;
      text-decoration: none;
      display: flex;
      align-items: center;

      &:hover {
        color: #297fb8;
      }

      .logo-icon {
        margin-right: 8px;
        font-size: 1.8rem;
      }
    }
  }

  .nav-section {
    ul {
      list-style-type: none;
      padding: 0;
      display: flex;

      .nav-item {
        margin-right: 20px;
        cursor: pointer;

        a {
          color: white;
          text-decoration: none;
          display: flex;
          align-items: center;
          transition: color 0.3s;

          &:hover {
            color: #297fb8;
          }

          .nav-icon {
            margin-right: 8px;
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .button-section {
    button {
      background-color: #fff;
      color: #3498db;
      padding: 10px 20px;
      border: 2px solid #fff;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: #297fb8;
        color: white;
      }
    }
  }

  .menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    transition: transform 0.3s;

    &.open {
      .menu-line {
        background-color: #fff;
      }
    }

    .menu-line {
      width: 30px;
      height: 3px;
      background-color: #fff;
      margin: 6px 0;
      transition: 0.4s;
    }
  }

  .mobile-menu {
    ul {
      list-style-type: none;
      padding: 0;

      .mobile-nav-item {
        margin-bottom: 10px;

        a {
          color: white;
          text-decoration: none;
          display: flex;
          align-items: center;
          transition: color 0.3s;

          &:hover {
            color: #297fb8;
          }

          .mobile-nav-icon {
            margin-right: 8px;
            font-size: 1.2rem;
          }
        }
      }

      .logout-button {
        background-color: #fff;
        color: #3498db;
        padding: 10px 20px;
        border: 2px solid #fff;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: #297fb8;
          color: white;
        }
      }
    }
  }
}
