.contact-us-container {
  padding: 40px;
  background: var(--white-9);
  border-radius: 20px;
  box-shadow: 10px 10px 20px var(--white-10), -10px -10px 20px var(--white-11);
  position: relative;
  transition: all 0.5s ease-in-out;
  @media (max-width: $breakpoint-desktop-wide) {
  }
  @media (max-width: $breakpoint-desktop) {
    padding: 30px;
  }
  @media (max-width: $breakpoint-large-tablet) {
  }
  @media (max-width: $breakpoint-tablet) {
  }
  @media (max-width: $breakpoint-phone) {
    overflow: hidden;
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: inherit;
    border-radius: 25px;
    z-index: -1;
    transition: al 0.5s ease-in-out;
  }
  &:before {
    transform: rotate(2deg);
    box-shadow: 20px 20px 40px var(--white-10), -20px -20px 40px var(--white-11);
  }
  &:after {
    transform: rotate(-2deg);
    box-shadow: 20px 20px 40px var(--white-10), -20px -20px 40px var(--white-11);
  }
  .contact-us-heading {
    position: relative;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: var(--black);
    font-family: var(--font-oswald);
    font-size: var(--font-7);
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 0 1% 0;
    @media (max-width: $breakpoint-desktop-wide) {
    }
    @media (max-width: $breakpoint-desktop) {
    }
    @media (max-width: $breakpoint-large-tablet) {
    }
    @media (max-width: $breakpoint-tablet) {
    }
    @media (max-width: $breakpoint-phone) {
      margin: 0 0 3% 0;
    }
    &::before {
      content: "";
      display: block;
      width: 50%;
      height: 5px;
      background: linear-gradient(90deg, var(--pink-3), var(--purple-4));
      position: absolute;
      bottom: 0;
      left: 50%;
      border-radius: 20px;
      transform: translateX(-50%);
      transition: width 2s ease-in-out;
      animation: underlineAnimation 2s infinite alternate;
    }
    @keyframes underlineAnimation {
      to {
        width: 20%;
      }
    }
  }

  .team-members {
    &__heading {
      text-align: center;
      font-family: var(--font-elianto);
      text-transform: uppercase;
      font-size: var(--font-8);
      font-weight: 600;
      letter-spacing: 3px;
      color: var(--blue-13);
      margin: 0 0 1.5% 0;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
        font-size: var(--font-9);
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
    }
    .member {
      text-align: center;
      position: relative;
      margin: 0 0 3% 0;
      padding: 25px;
      border: 1px solid var(--white-2);
      border-radius: 20px;
      background: var(--white-9);
      box-shadow: 10px 10px 20px var(--white-7),
        -10px -10px 20px var(--white-11);
      transition: all 0.5s ease-in-out;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
        padding: 20px;
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
        margin: 0 0 5% 0;
      }
      &:hover {
        box-shadow: 20px 20px 40px var(--white-7),
          -20px -20px 40px var(--white-11);
        transition: all 0.3s ease-in-out;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        background: inherit;
        border-radius: 15px;
        z-index: -1;
        transition: transform 0.5s ease, box-shadow 0.5s ease,
          background 0.5s ease;
      }
      &::before {
        transform: rotate(2deg);
        box-shadow: 15px 15px 30px var(--white-10),
          -15px -15px 30px var(--white-11);
      }

      &::after {
        transform: rotate(-2deg);
        box-shadow: 15px 15px 30px var(--white-10),
          -15px -15px 30px var(--white-11);
      }

      &__heading {
        font-family: var(--font-moleth);
        font-size: var(--font-10);
        font-weight: 400;
        letter-spacing: 2px;
        margin: 0 0 0.5% 0;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
      }

      &__email {
        @include flex-container(row, nowrap, flex-start, center);
        cursor: pointer;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
        &__icon {
          position: relative;
          margin: 0 0.8% 0 0;
          height: 35px;
          width: 35px;
          transition: transform 0.5s ease;
          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
            height: 25px;
            width: 25px;
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
            height: 15px;
            width: 15px;
          }
          &:hover {
            transform: scale(1.2);
          }
        }

        &__link {
          font-family: var(--font-elianto);
          font-size: var(--font-11);
          letter-spacing: 2px;
          color: var(--blue-1);
          text-decoration: none;
          transition: text-decoration 0.5s ease-in-out;
          overflow: auto;
          overflow-wrap: break-word;
          @media (max-width: $breakpoint-desktop-wide) {
          }
          @media (max-width: $breakpoint-desktop) {
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }

      &__expertise {
        font-family: var(--font-blackpast);
        font-size: var(--font-12);
        margin: 1% 0 0 0;
        letter-spacing: 1px;
        font-weight: 400;
        color: var(--light-black-4);
        transition: color 0.5s ease-in-out;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
        &:hover {
          color: var(--black);
        }
      }

      &__description {
        font-family: var(--font-tektur);
        letter-spacing: 2px;
        font-size: var(--font-12);
        margin: 0.5% 0 0 0;
        line-height: 1.5;
        text-align: justify;
        color: var(--black);
        font-weight: 600;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
          text-align: center;
        }
      }
    }
  }

  .contact-email {
    &__heading {
      text-align: center;
      font-family: var(--font-roboto);
      text-transform: uppercase;
      font-size: var(--font-9);
      font-weight: 600;
      letter-spacing: 3px;
      color: var(--blue-13);
      margin: 0 0 0 0;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
        font-size: var(--font-10);
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
    }
    &__container {
      @include flex-container(row, nowrap, center, center);
      margin: 0 0 1% 0;
      cursor: pointer;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
      &__icon {
        position: relative;
        margin: 0 0.8% 0 0;
        height: 35px;
        width: 35px;
        transition: transform 0.5s ease;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
          height: 25px;
          width: 25px;
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
          height: 25px;
          width: 25px;
        }
        &:hover {
          transform: scale(1.2);
        }
      }

      &__content {
        font-family: var(--font-elianto);
        font-size: var(--font-11);
        letter-spacing: 2px;
        color: var(--blue-1);
        text-decoration: none;
        transition: text-decoration 0.5s ease-in-out;
        @media (max-width: $breakpoint-desktop-wide) {
        }
        @media (max-width: $breakpoint-desktop) {
        }
        @media (max-width: $breakpoint-large-tablet) {
        }
        @media (max-width: $breakpoint-tablet) {
        }
        @media (max-width: $breakpoint-phone) {
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .team-objective {
    &__heading {
      text-align: center;
      font-family: var(--font-roboto);
      text-transform: uppercase;
      font-size: var(--font-9);
      font-weight: 600;
      letter-spacing: 3px;
      color: var(--blue-13);
      margin: 0 0 1.5% 0;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
        font-size: var(--font-10);
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
    }
    &__content {
      font-family: var(--font-blackpast);
      font-size: var(--font-11);
      margin: 1% 0 2% 0;
      letter-spacing: 3px;
      font-weight: 400;
      line-height: 1.8;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
        font-size: var(--font-13);
        letter-spacing: 1px;
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
    }
  }

  .social-media {
    &__heading {
      text-align: center;
      font-family: var(--font-roboto);
      text-transform: uppercase;
      font-size: var(--font-9);
      font-weight: 600;
      letter-spacing: 3px;
      color: var(--blue-13);
      margin: 0 0 2.5% 0;
      @media (max-width: $breakpoint-desktop-wide) {
      }
      @media (max-width: $breakpoint-desktop) {
        font-size: var(--font-10);
      }
      @media (max-width: $breakpoint-large-tablet) {
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
    }
    ul {
      list-style: none;
      padding: 0;
      @include flex-container(row, nowrap, center, center);
      gap: 20px;
      @media (max-width: $breakpoint-desktop-wide) {
        gap: 10px;
      }
      @media (max-width: $breakpoint-desktop) {
      }
      @media (max-width: $breakpoint-large-tablet) {
        @include flex-container(column, nowrap, center, center);
      }
      @media (max-width: $breakpoint-tablet) {
      }
      @media (max-width: $breakpoint-phone) {
      }
      li {
        @include flex-container(row, nowrap, center, center);
        gap: 10px;
        width: 100%;
        padding: 16px;
        background: var(--white-1);
        font-family: var(--font-tektur);
        font-size: var(--font-11);
        color: var(--black);
        letter-spacing: 2px;
        font-weight: 500;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        @media (max-width: $breakpoint-desktop-wide) {
          padding: 15px;
          font-size: var(--font-12);
          gap: 5px;
        }
        @media (max-width: $breakpoint-desktop) {
          padding: 10px;
          font-size: var(--font-13);
          gap: 5px;
        }
        @media (max-width: $breakpoint-large-tablet) {
          width: 30%;
        }
        @media (max-width: $breakpoint-tablet) {
          width: 40%;
        }
        @media (max-width: $breakpoint-phone) {
          width: 50%;
        }
        transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
        text-transform: uppercase;
        box-shadow: -5px -5px 10px #ffffffb3, 5px 5px 10px #0003;
        &:hover {
          background: var(--white-2);
          transform: scale(1.02);
          box-shadow: -10px -10px 20px #ffffffb3, 10px 10px 20px #0003;
        }

        .github-icon,
        .twitter-icon,
        .linkedin-icon,
        .facebook-icon,
        .instagram-icon {
          transition: transform 0.5s ease;
          transform: scale(1.05);
          @media (max-width: $breakpoint-desktop-wide) {
            transform: scale(1);
          }
          @media (max-width: $breakpoint-desktop) {
            transform: scale(0.9);
          }
          @media (max-width: $breakpoint-large-tablet) {
          }
          @media (max-width: $breakpoint-tablet) {
          }
          @media (max-width: $breakpoint-phone) {
          }
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
