// Import your color variables or define them here
$primary-color: #3498db;
$secondary-color: #2ecc71;

// Navbar styling
.navbar {
  background-color: $primary-color;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  position: relative;
  z-index: 2;

  .logo {
    cursor: pointer;
    .logo-text {
      font-size: 1.8rem;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
    }
  }

  .menu {
    display: flex;
    cursor: pointer;
    flex-direction: column;

    .menu-line {
      width: 25px;
      height: 2px;
      background-color: #fff;
      margin: 4px 0;
      transition: background-color 0.3s ease;
    }
  }
}

// Sidenavbar styling
.sidenavbar {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1;

  &__container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    backdrop-filter: blur(10px); // Add glass morphic effect

    .sidenavbar__brand {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;

      .sidenavbar__brand__name {
        font-size: 1.8rem;
        font-weight: bold;
        color: #fff;
      }

      .menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;

        .menu-line {
          width: 25px;
          height: 2px;
          background-color: #fff;
          margin: 4px 0;
          transition: background-color 0.3s ease;
        }
      }
    }

    &__menu {
      list-style-type: none;
      padding: 0;
      margin: 0;

      .sidenavbar__menu-item {
        margin-bottom: 1rem;

        .sidenavbar__menu-link {
          text-decoration: none;
          color: #fff;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .sidenavbar__menu-btn {
        background-color: $secondary-color;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken($secondary-color, 10%);
        }
      }
    }
  }

  &.open {
    width: 100%;
    background-color: rgba(
      255,
      255,
      255,
      0.9
    ); // Add a semi-transparent white background
  }
}
