.navbar {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .nav-section {
    ul {
      list-style: none;
      display: flex;
      gap: 1rem;
    }

    .nav-item {
      font-size: 1.2rem;
    }
  }

  .button-section {
    button {
      margin-left: 1rem;
      padding: 0.5rem 1rem;
      font-size: 1rem;
    }
  }
}
